name: Check
on:
  push:
    branches:
      - master
      - feature/*
  pull_request:
    branches:
      - master
  schedule:
    - cron: "0 8 * * *"
jobs:
  Build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        go:
          - stable
          - "~1.20.0"
          - "~1.19.0"
          - "~1.18.0"
          - "~1.17.0"
        may-fail:
          - false
    continue-on-error: ${{ matrix.may-fail }}
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-go@v3
        with:
          go-version: "${{ matrix.go }}"
          check-latest: true
      - run: go version
      - run: go build -v ./...
      - run: go test -race -parallel 4 -timeout 30s -v ./...
  Format:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-go@v3
        with:
          go-version: stable
      - run: |
          unformatted=$(gofmt -l .)
          if [[ ! -z "$unformatted" ]]; then
            echo "Files need formatting!"
            gofmt -w .
            git diff
            exit 1
          fi
  Staticcheck:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 1
      - uses: dominikh/staticcheck-action@v1.2.0
        with:
          version: "2022.1.1"
  Vet:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-go@v3
        with:
          go-version: stable
      - run: go vet ./...
